<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form action="">
        <fieldset>
            <legend>Sort by Type</legend>
            <label for="apparelM">Men's Apparel</label>
            <input type="checkbox" name="category[]" id="apparelM">
            <label for="apparelW">Women's Apparel</label>
            <input type="checkbox" name="category[]" id="apparelW">
            <label for="shoeM">Men's Shoes</label>
            <input type="checkbox" name="category[]" id="shoeM">
            <label for="shoeW">Women's Shoes</label>
            <input type="checkbox" name="category[]" id="shoeW">
         </fieldset>
         <fieldset>
            <legend>Sort by Weather</legend>
            <label for="springFall">Spring/Fall</label>
            <input type="checkbox" name="weather[]" id="spring/fall">
            <label for="summer">Summer</label>
            <input type="checkbox" name="weather[]" id="summer">
            <label for="winter">Winter</label>
            <input type="checkbox" name="weather[]" id="winter">
         </fieldset>
         <button type="submit" action="">Search</button>
    </form>
    <form action="">
        <label for="search">Search</label>
        <input type="text" name="search">
        <button>Search</button>
    </form>
</head>
</body>
</html>