<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Inventory</title>
    <form method="POST" action="/new" >
        <label for="name"></label>
        <input type="text" name="name">

        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="shoeM">Men's Shoes</option>
            <option value="shoeF">Women's Shoes</option>
            <option value="apparelM">Men's Apparel</option>
            <option value="apparelF">Woman Apparel</option>
        </select>

        <label for="price">Price</label>
        <input type="number" name="price">

        <label for="weather">Weather</label>
        <select name="weather" id="weather">
            <option value="winter">Winter</option>
            <option value="summer">Summer</option>
            <option value="sping-fall">Spring/Fall</option>
            <option value="all">All Weather</option>
        </select>
        <label for="description">Description</label>
        <textarea name="description" id="desc" rows="4" cols="15"></textarea>
        <button>submit</button>
    </form>
</head>
<body>
</body>
</html>